<h1><%= @song.title %></h1>
<p>Singer: <%= display_person_link(@song.person) %></p>
<p>Released on: <%= @song.released_on %></p>
<p>
  <%= link_to "YouTube", @song.youtube_url, target: "_blank" %> |
  <%= link_to "Spotify", @song.spotify_url, target: "_blank" %>
</p>


